@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.heading{
		border-bottom: 2px solid rgb(0,0,0)



}

.li{
	display: inline;
	border-bottom: 1.5px solid rgb(0,0,0)	
}

a{
	color: rgb(0,0,0);
	margin: 30px;
	text-decoration: none;
}

.nav{
		background-color: rgb(33, 148, 144);


		height: 70px
	}

.ul{
	text-align: center;
	padding: 20px


}

body{
		margin: 40px;


}
img{
	margin: 5px;

}

.image1{
		width: 900px;
		height: 500px;

}

.image{
	color: rgb(84, 0, 0);

		background: url(shubham2.jpg);
		background-repeat: no-repeat;
		background-size: 1100px 500px;
		padding: 150px;
		font-weight: 600

}

.contact{
			background-color: rgb(49, 189, 184);

}

.adress{
			background-color: rgb(128, 237, 109);

}

.text-colour{
				color: rgb(7, 3, 94);


}

.colour{
			color: rgb(207, 10, 10);

}

.font{

	font-family: 'Poppins', sans-serif;
}



