.heading{
			border-bottom: 2px solid rgb(0,0,0)


}

.nav{
		background-color: rgb(33, 148, 144);


		height: 70px
	}

 li{
	display: inline;
	border-bottom: 1.5px solid rgb(0,0,0)




	
	

	
}

.home{
		color: rgb(158, 0, 0);


}

.ul{
	text-align: center;
	padding: 20px


}


a{
	color: rgb(0,0,0);
	margin: 30px;
	text-decoration: none;

	



}

body{
		margin: 60px;


}