@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

.heading-background{
background-color: rgb(130, 184, 237);

}

.colour{
	color: rgb(0, 6, 168);

}

.background{

	background-color: rgb(10, 209, 183);
}

.green{
		background-color: rgb(107, 232, 144);

}

.gender-colour{
				background-color: rgb(255, 221, 140);

}

.folder-background{
					background-color: rgb(178, 247, 171);

}

.payment-background-colour{
							background-color: rgb(117, 255, 225);


}

.class-colour{
				background-color:  rgb(213, 145, 250);

}

.fee-colour{
				background-color: rgb(127, 245, 81);


}
.poppins-font{
				font-family: 'Poppins', sans-serif;

}
.lato-font{

	font-family: 'Lato', sans-serif;
}

.thankyou{
			background-color: rgb(217, 24, 217);


}

.fb{
		background-color: rgb(150, 227, 213);

}

input[type="text"]{
					color: rgb(255,0,0);
					background-color: rgb(221, 237, 166);

}

a[href$=".html"]{
						color: rgb(105, 0, 0);
						



}
.link-background{
					background-color: rgb(163, 175, 255);


}




